.resume {
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 77px 0 77px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__col {
        &-title {
            position: relative;
            padding-left: 35px;
            &::before {
                content: "";
                position: absolute;
                height: 15px;
                width: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left: -15px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: -16px;
                    left: -8px;
                    width: 1px;
                    height: calc(100% + 16px);
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 63px;
            left: -8px;
            height: 1px;
            width: 51px;
            background-color: #000;
        }
        &-subtitle {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        &-head {
            position: relative;
            padding-left: 100px;
            padding-top: 45px;
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            left: 59px;
            bottom: 0px;
            @include before_circle;
            &:before {
                top: -14px;
                left: -16px;
            }
        }
    }
}
