.sidepanel {
    position: absolute;
    top: 385px;
    left: -110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 340px;
    transform: rotate(-90deg);
    z-index: 3;
    &__link {
        &:hover {
            svg path {
                fill: $main-color;
            }
        }
    }
    &__divider {
        width: 70px;
        height: 2px;
        background-color: #fff;
    }
    &__title {
        color: #fff;
    }
}